body {
  text-align: center;
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.container {
  padding: 5% 15%;
}

h5 {
  font-size: 1.5rem;
}

/* Title Section */

.title {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  color: black;
}

/* Main Section */

.dice {
  color: black;
  font-size: 5rem;
  padding: 3%;
  display: inline-block;
}

.roll-button {
  background-color: white;
  font-size: 3rem;
  margin: 10%;
}

.roll-button:hover {
  background-color: blanchedalmond;
}
/* Footer Section */

#footer-section {
  background-color: #e6e6e6;
}

#footer-section.container {
  padding: 3% 15%;
}

.contact-icon {
  font-size: 2rem;
  padding: 3% 2%;
}
